body {
    background-color: black;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

p {
    color: white;
    font-family: cursive;
    font-size: 110%;
    font-style: oblique;
}

.paragrafo1 {
    color: rgb(255, 166, 0);
    font-size: 90%;
    font-style: normal;
}